[submodule "components/ESP32-OLED"]
	path = components/ESP32-OLED
	url = https://github.com/revk/ESP32-OLED
[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://codeberg.org/RevK/ESP32-RevK
[submodule "PCBCase"]
	path = PCBCase
	url = https://codeberg.org/RevK/PCBCase
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20
[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb
