menu "Brexit"

	config ENV_LOGO
	string "Logo file"
	default "logo.h"
	help
		Defines the logo file to display

	config ENV_TAG
	string "Tag line"
	default "www.gov.uk/brexit"
	help
		Defines the displayed text on start up

endmenu
